<div class="container">
    
    <h1>Welcome to Sec<img class="heartLogo" src="./../images/logo.ico" alt="">nd Life</h1> 
    <hr>
    <h4>Reuse Reduce recycle!</h4>
    <hr>
    <h5>Do something green today!</h5> <br>
    <h6>Choose a category and give a Second Life</h6>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <img class="category" src="./../images/categories/book.png" alt="">
            <br>
            <a href="#">Books</a>
        </div>

        <div class="col-md-2">
            <img class="category" src="./../images/categories/clothes.png" alt="">
            <br>
            <a href="#">Clothes</a>
        </div>

        <div class="col-md-2">
            <img class="category" src="./../images/categories/home.png" alt="">
            <br>
            <a href="#">Home</a>
        </div>

        <div class="col-md-2">
            <img class="category" src="./../images/categories/pc.png" alt="">
            <br>
            <a href="#">Technology</a>
        </div>

        <div class="col-md-2">
            <img class="category" src="./../images/categories/sport.png" alt="">
            <br>
            <a href="#">Sports</a>
        </div>
        
        
        
    </div>
    
</div>