<div class="container">
    <h3>User profile</h3>
    <hr>
    <p>Welcome {{username}}</p>
    
    {{!-- {{#each products}}
    <p>* {{name}}
        <small>
            <a href="/product/details">details</a> |
            <a href="/product/edit">edit</a> |
            <a href="/product/delete">delete</a>
        </small>
    </p>
    {{/each}} --}}

</div>