<div class="container">



    <form action="/product/new" method="post">

        <div class="row justify-content-center">
            <div class="col-md-6">

                <h3>Add a new product!</h3>
                <hr>

                <div class="form-group">
                    <label for="name" class="form-label">Name</label><br>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="description" class="form-label">Description</label><br>
                    <input type="text" class="form-control" name="description" id="Description"
                        placeholder="Description">
                </div>

                <div class="form-group">
                    <label for="imagen" class="form-label">Image</label><br>
                    <input type="text" class="form-control" name="imagen" id="imagen" placeholder="Image">
                </div>

                <div class="form-group">
                    <label for="color" class="form-label">Color</label><br>
                    <input type="text" class="form-control" name="color" id="color" placeholder="Color">
                </div>

                <div class="form-group">
                    <label for="category" class="form-label">Category</label><br>
                    <select type="text" class="form-control" name="category" id="category" placeholder="Category">
                        <option>Select one</option>
                        <option value="books">Books</option>
                        <option value="home">Home</option>
                        <option value="clothes">Clothes</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="status" class="form-label">Status</label><br>
                    <select type="text" class="form-control" name="status" id="status" placeholder="Status">
                        <option>Select one</option>
                        <option value="like new">Like New</option>
                        <option value="little used">Little Used</option>
                        <option value="used">Used</option>
                    </select>
                </div>


                <br><br>

                <button type="submit" class="btn btn-success btn-block">Submit</button>
                <br><br>
            </div>
        </div>
    </form>
</div>